<form #carFrom="ngForm" (ngSubmit)="onAddCar(carFrom.value); carFrom.onReset()" class="max-w-xl mx-auto m-4">
  <div class="mb-5">
    <label for="model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nazwa pojazdu</label>
    <input ngModel name="model" type="text" id="model"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="Opel Corsa" required>
  </div>
  <div class="mb-5">
    <label for="plate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nr Rejestrcji</label>
    <input ngModel name="plate" type="text" id="plate" placeholder="GD777X"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           required>
  </div>
  <div class="flex items-center py-4 border-t border-gray-200 rounded-b dark:border-gray-600">
    <button type="submit" data-modal-hide="default-modal"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Dodaj
    </button>
  </div>
</form>
