
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Przebieg
      </th>
      <th scope="col" class="px-6 py-3">
        Miesiąc
      </th>
      <th scope="col" class="px-6 py-3">
        Rok
      </th>
      <th scope="col" class="px-6 py-3">
        Wygeneruj plik
      </th>
      <th scope="col" class="px-6 py-3 text-right">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
    </thead>
    <tbody>
<!--      @for (mil of mileagesData; track mil.mileage | paginate: { itemsPerPage: 10, currentPage: page } ) {-->

<tr *ngFor="let mil of mileagesData | paginate: { itemsPerPage: 10, currentPage: page }"
  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ mil.mileage | number:'2.0-0' }}
          </th>
          <td class="px-6 py-4">
            {{ mil.month }}
          </td>
          <td class="px-6 py-4">
            {{ mil.year }}
          </td>
          <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2">XML</a>
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">PDF</a>
          </td>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
<!--      } @empty {-->
<!--        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">-->
<!--        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">-->
<!--          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">-->
<!--            <div role="status" class="animate-pulse">-->
<!--              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700"></div>-->
<!--              <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--          </th>-->
<!--          <td class="px-6 py-4 font-medium">-->
<!--            <div role="status" class="max-w-sm animate-pulse">-->
<!--              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px]"></div>-->
<!--              <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td class="px-6 py-4">-->
<!--            <div role="status" class="max-w-sm animate-pulse">-->
<!--              <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px]"></div>-->
<!--              <span class="sr-only">Loading...</span>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td class="px-6 py-4 text-right">-->
<!--          </td><td class="px-6 py-4 text-right">-->
<!--          </td>-->
<!--        </tr>-->
<!--      }-->
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
